<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.egiladmin.egiladmin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login"></activity>
        <activity
            android:name=".IngresarReserva"
            android:parentActivityName=".Reservas" />
        <activity
            android:name=".VerReservas"
            android:parentActivityName=".Reservas" />
        <activity
            android:name=".VerDepartamentos"
            android:parentActivityName=".Departamentos" />
        <activity
            android:name=".ActualizarDepartamento"
            android:parentActivityName=".Departamentos" />
        <activity
            android:name=".ActualizarResidente"
            android:parentActivityName=".Residentes" />
        <activity
            android:name=".VerResidentes"
            android:parentActivityName=".Residentes" />
        <activity
            android:name=".Reservas"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Departamentos"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Residentes"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".QuienesSomos"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>